{%  extends 'base.html' %}

{% block title %}我的课表{% endblock %}


{% block content %}

{% if error == 1 %}

    <h1 align="center">用户名或密码错误</h1>

{% endif %}

{% if error == 0 %}

        <table class="table table-bordered table-hover " style="text-align:center">
            <tr>
                <th style="text-align:center">课程名称</th>
                <th style="text-align:center">授课老师</th>
                <th style="text-align:center">上课教室</th>
                <th style="text-align:center">开始时间</th>
                <th style="text-align:center">结束时间</th>
                <th style="text-align:center">课程时间</th>
                <th style="text-align:center">开课周</th>
            </tr>
            {% for name in info %}
            <tr>

                    <td>{{ name.kcmc }}</td>

                    <td>{{ name.jsxm }}</td>

                    <td>{{ name.jsmc }}</td>

                    <td>{{ name.kssj }}</td>

                    <td>{{ name.jssj }}</td>

                    <td>{{ name.kcsj }}</td>

                    <td>{{ name.kkzc }}</td>


            </tr>
            {% endfor %}
        </table>

{% endif %}

{% endblock %}