{%  extends 'base.html' %}

{% block title %}我的快递{% endblock %}


{% block content %}
{% if msgerror == 1 %}

    <h1 align="center">快递公司错误或单号不存在</h1>

{% endif %}

{% if msgerror == 0 %}
        <table class="table table-bordered table-hover " style="text-align:center">
            <tr>
                <th style="text-align:center">时间</th>

                <th style="text-align:center">状态</th>

            {% for oneinfo in info %}
            <tr>

                    <td>{{ oneinfo.ftime }}</td>


                    <td>{{ oneinfo.context }}</td>

            </tr>
            {% endfor %}
        </table>
{% endif %}

{% endblock %}