{%  extends 'base.html' %}

{% block title %}个人信息{% endblock %}




{% block content %}

{% if error == 1 %}

    <h1 align="center">用户名或密码错误</h1>

{% endif %}

{% if error == 0 %}


    <div class="page-header">
    <h1 align="center">Hello {{ info.xm }},Welcome To SKlive!</h1>
</div>

        <table class="table table-bordered table-hover ">
            <tr>
                <th>参数</th>
                <th>值</th>
            </tr>
            {% for name in info %}
            <tr>
                {% if name == 'xh' %}
                    <td>{{ '学号' }}</td>
                    <td>{{ info.xh }}</td>
                {% endif %}
                {% if name == 'xm' %}
                    <td>{{ '姓名' }}</td>
                    <td>{{ info.xm }}</td>
                {% endif %}
                {% if name == 'xb' %}
                    <td>{{ '性别' }}</td>
                    <td>{{ info.xb }}</td>
                {% endif %}
                {% if name == 'dh' %}
                    <td>{{ '电话号码' }}</td>
                    <td>{{ info.dh }}</td>
                {% endif %}
                {% if name == 'yxmc' %}
                    <td>{{ '院系' }}</td>
                    <td>{{ info.yxmc }}</td>
                {% endif %}
                {% if name == 'zymx' %}
                    <td>{{ '专业' }}</td>
                    <td>{{ info.zymc }}</td>
                {% endif %}
                {% if name == 'bj' %}
                    <td>{{ '班级' }}</td>
                    <td>{{ info.bj }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
{% endif %}

{% endblock %}